#!/bin/bash
BACKUP_DIR="/opt/database-backups"
DATE=$(date +%Y%m%d_%H%M%S)
mysqldump -u root -p'{{ mysql_root_password }}' --all-databases --single-transaction | gzip > $BACKUP_DIR/mysql_backup_$DATE.sql.gz
find $BACKUP_DIR -name "mysql_backup_*.sql.gz" -mtime +{{ backup_retention_days }} -delete
