---
# Common system setup tasks
- name: Update system packages
  package:
    name: "*"
    state: latest
  become: yes

- name: Install common packages
  package:
    name:
      - wget
      - curl
      - vim
      - htop
    state: present
  become: yes

- name: Set timezone
  timezone:
    name: "{{ system_timezone }}"
  become: yes
