---
- name: Install security packages
  apt:
    name:
      - fail2ban
      - ufw
    state: present
    update_cache: yes

- name: Configure firewall rules
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - "{{ mysql_port if database_type == 'mysql' else postgresql_port }}"
    - "22" # SSH

- name: Enable firewall
  community.general.ufw:
    state: enabled
    policy: deny
    direction: incoming
